#LOCAL DATABASE CONNECTION
LOCAL_DB_URL=
LOCAL_DB_USERNAME=
LOCAL_DB_PASSWORD=

#PRODUCTION DATABASE CONNECTION
PROD_DB_URL=jdbc:mysql://
PROD_DB_USERNAME=
PROD_DB_PASSWORD=

PORT=8090

# JWT CONFIG
JWT_PRIVATE_KEY_LOCATION=
JWT_PUBLIC_KEY_LOCATION=
JWT_ACCESS_EXPIRATION_TIME=
JWT_REFRESH_EXPIRATION_TIME=

#GMAIL CREDENTIALS
EMAIL_USER=
EMAIL_PASS=
